# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env
.env.local

# macOS
.DS_Store

# Streamlit
.streamlit/

*.md
docs/*.md
src/*.md

# IDE
.idea/
.vscode/

# Frontend
frontend/react-app/node_modules
frontend/react-app/build
scratch

start.sh
bash_setup.sh
talk-to-rasor.sh
test-web.sh
src/models/kokoro
# Frontend
frontend/react-app/node_modules
frontend/react-app/build

start.sh
bash_setup.sh
talk-to-rasor.sh
test-web.sh
src/models/kokoro

Demo