# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env
.env.local

# macOS
.DS_Store

# Streamlit
.streamlit/

*.md
docs/*.md
src/*.md

# IDE
.idea/
.vscode/
